<?xml version="1.0"?>

<configuration>


  
    <appSettings/>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="false">

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <authentication mode="Forms">
        <forms name="SecureForm"
          loginUrl="ServiceSample.asmx"
          protection="All"
          timeout="60" path="/" />
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>

</configuration>
