<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConsoleApplication.Properties.Settings>
            <setting name="ConsoleApplication_localhost_ServiceSample" serializeAs="String">
                <value>http://localhost:51413/ServiceSample.asmx</value>
            </setting>
        </ConsoleApplication.Properties.Settings>
    </applicationSettings>
</configuration>